
body {
    background-image: url(../media/chicago.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Josefin Sans";
  }

    
.weather-app {
    max-width: width 600px;
    margin: 30px auto;
    padding: 20px;
}
.container {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.card {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 200%);
}

.c-f-buttons{
    position: relative;
    text-align: right;
}

.current-display{
    display: block;
    text-align: center;
} 
#icon {
    display: block;
    position: relative;
    left: 5px;
    width: 230px;
    margin-top: -54px;
  

.three-hours-forecast {
    margin-top: 20px;
}

#description::first-letter{
    text-transform:uppercase;

}

.weather-temperature.active {
    color: midnightblue;
    cursor:default;
}
.weather-temperature.active:hover {
    text-decoration: none;
}

#temp-attributes {
    font-size: 13px;
}
